<!-- include/audio-player -->

{% assign s = section %}

<div class="audio-player">

  <div class="audio-player__row-item audio-player__select">
    
    <button class="audio-player__button playlist">
      <span class="visually-hidden">Open Playlist</span>
      {% include icon--playlist.svg %}
    </button>
    
    <div class="audio-player__playlist-container">
      <div class="audio-player__playlist-expand">
        <ul class="audio-player__playlist list">
          {% for song in s.songs %}
            <li class="audio-player__song">
              <div class="audio-player__context">
                <div class="h2 audio-player__song-name">{{song.song_title}}</div>
                <div class="flex">
                  <div class="audio-player__title">{{song.record_title}} - DEADMOUTH</div>
                  <div class="audio-player__song-time"></div>
                </div>
              </div>
              <audio class="audio" src="{{song.song_file|relative_url}}"></audio>
            </li>
          {% endfor %}
        </ul>
      </div>
      
      <div class="audio-player__context slider__context">
        <div class="audio-player__title h2 slider__title"></div>
        <div class="audio-player__name slider__name"></div>
      </div>
      
    </div>

  </div>

  <div class="audio-player__controls ">

    <button class="audio-player__button back">
      <span class="visually-hidden">Previous</span>
      {% include icon--prev.svg %}
    </button>
    
    <button class="audio-player__button  play">
      {% include icon--play.svg %}
      {% include icon--pause.svg %}
      <span class="visually-hidden">Play / Pause</span>
    </button>
    
    <button class="audio-player__button next">
      <span class="visually-hidden">Next</span>
      {% include icon--next.svg %}
    </button>

    <div class="progress">
      <div class="progress__filled"></div>
    </div>

  </div>

</div>


