<!-- includes/block-hero-image -->


{% assign s               = section %}

{% assign customCSS       = s.custom_css %}
{% assign sectionClass    = 'section--' | append: s.block | append: '--' | append: forloop.index %}
{% assign cssClass        = '.' | append: sectionClass %}

{% assign img             =  s.image | relative_url %}

<section class="page-hero {{sectionClass}}">
  
  {% include snippet--image.html 
    img=img
    useBG=false
    cf=true
  %}

  {% include custom-css.html css=customCSS class=cssClass %}

</section>