
{% assign s             = section %}

{% assign lp            = s.link_row %}

{% assign img           = s.image | default: '' %}

{% assign secTtl        = s.section_title | default: '' %}
{% assign secTxt        = s.section_text | default: '' %}

{% assign rowTtl        = s.row_title | default: '' %}
{% assign rowTxt        = s.row_text | default: '' %}



{% assign prevImgs      = '' %}
{% assign imageRow      = '' %}
{% assign splt          = '<!--SPLIT-->' %}

{% assign count         = 0 %}
{% if isRev == true or isRev == 'true' %}
    {% assign count     = 1 %}
{% endif %}

{% assign sectionCSS    = s.custom_css %}
{% assign sectionID     = s.block | append: '--' | append: forloop.index %}
{% assign sectionClass  = 'section--' | append: sectionID %}
{% assign cssClass      = '.' | append: sectionClass %}

{% assign leftCol       = 'medium-up--one-half' %}
{% assign centerCol     = 'medium-up--one-half' %}

{% if lp.size > 0 %}
  {% assign leftCol     = 'medium-up--one-third' %}
  {% assign centerCol   = 'medium-up--one-third' %}
  {% assign rightCol    = 'medium-up--one-third' %}
{% endif %}

<!-- include/cta-music -->

<section id="{{sectionID}}" class="section--music-cta {{sectionClass}} ">



  <div class="page-width with-padding">
  
    {% if secTtl != ''  or secTxt != '' %}
      <div class="section--title text-center {% if secTtl != '' and secTxt == '' %}inline--link{% endif %}">
        {% if secTtl != '' %}
          <h2>{{secTtl}}</h2>
        {% endif %}
        {% if secTxt != '' %}
          <div class="rte">{{secTxt}}</div>
        {% endif %}
      </div>
    {% endif %}


    <div class="grid_no_gutter vert-mid match-row">
      <div class="grid__item {{leftCol}}">
        {% if rowTtl != ''  or rowTxt != '' %}
          <div class="row-container">
            {% if rowTtl != '' %}
              <h3 class="h4">{{rowTtl}}</h3>
            {% endif %}
            {% if rowTxt != '' %}
              <div class="rte">{{rowTxt}}</div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="grid__item {{centerCol}}">
        <div class="row-container center-image">
          {% include snippet--image.html img=img useBG=useBG cf=cf extraClass=extraClass %}
        </div>
      </div>
      
      {% if lp.size > 0 %}
        <div class="grid__item {{rightCol}}">
          <div class="row-container">
            {% for c in lp %}

              {% assign img             = c.image | default: '' %}
              {% assign txt             = c.text | default: '' %}

              {% assign lnk             = c.link | default: '' %}

              {% assign extraClass      = '' %}
              {% assign useBG           = false %}
              {% assign cf              = true %}


              {% assign blkClass        = 'block--' | append: sectionID | append: '--' | append: forloop.index %}
              {% assign blkCssClass     = '.' | append: blkClass %}

              {% assign el              = 'div' %}
              {% assign attr            = '' %}
              {% if lnk != '' %}
                  {% assign el          = 'a' %}
                  {% assign attr        = 'href="' | append: lnk | append: '"' %}
              {% endif %}
              
              <{{el}} {{attr}} class="row-item">
                {% include snippet--image.html img=img useBG=useBG cf=cf extraClass=extraClass %}
                {% if txt != '' %}
                  <div class="rte">{{txt}}</div>
                {% endif %}
              </{{el}}>

            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>  



  </div>









  {% assign customCSS = sectionCSS %}
  {% assign cssClass = sectionClass %}
  {% include custom-css.html css=customCSS class=cssClass %}
  
  {{imageRow|split:splt|uniq}}

</section>

