{% if img != blank %}
  {% comment %}
    {% raw %}
    {% include snippet--image.html 
      img=s.image
      useBG=false
      cf=false
      customStyle=style
      extraClass=xtra
    %}
    {% endraw %}

  {% endcomment %}
  <!-- snippets/snippet--image -->
  {% assign imgAlt = img.alt %}
  {% if alt != blank %}
    {% assign imgAlt = alt %}
  {% endif %}
  {% assign imgSrc = img | img_url: '600x600' %}
  {% if cf == true %}
    {% assign imgSrc = img | relative_url  %}
  {% endif %}
  {% if useBG == true %}
    <noscript>
      <div class="bg_image {{extraClass}}" style="background-image: url({{ imgSrc }});{{customStyle}}"></div>
    </noscript>
    <div class="bg_image  {{extraClass}}"
      style="background-image: url('{{ imgSrc }}');{{customStyle}}">
    </div>
  {% else %}
    <div class="image-content__image-container {{extraClass}}" {% if customStyle %}style="{{customStyle}}"{% endif %}>
      <img data-src="{{imgSrc}}" class="lazyload" src="" />
    </div>
  {% endif %}
{% endif %}