<!-- include/video -->
{% assign s             = section %}

{% assign ttl           = s.section_title | default: '' %}

{% assign video_embed   = s.video_embed %}

{% assign customCSS     = s.custom_css %}
{% assign sectionID     = s.block | append: '--' | append: forloop.index %}
{% assign sectionClass  = 'section--' | append: sectionID %}
{% assign cssClass      = '.' | append: sectionClass %}

{% if video_embed != blank %}
  <section id="{{sectionID}}" class="section--video {{sectionClass}}">

    <div class="page-width with-padding">

      {% if ttl != '' %}
        <div class="section--title text-center {% if ttl != '' %}inline--link{% endif %}">
          {% if ttl != '' %}
            <h2>{{ttl}}</h2>
          {% endif %}
        </div>
      {% endif %}

      <div class="video-inline">
        <div class="wrapper">
          {{video_embed}}
        </div>
      </div>

    </div>

    {% include custom-css.html css=customCSS class=cssClass %}

  </section>
{% endif %}