@use "sass:math";

@mixin letter-spacing($spacing) {
  letter-spacing: math.div($spacing, 1000) * 1em;
}

@function css-function($function, $values...) {
  @return $function+unquote('(')+$values+unquote(')');
}

@function css-min($values...) {
  @return css-function(min, $values);
}

@function css-max($values...) {
  @return css-function(max, $values);
}


/*================ Media Query Mixin ================*/
@mixin mq($mq) {
  $breakpoint-found: false;

  @each $breakpoint in $grid-breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $mq==$name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found==false {
    @warn 'Breakpoint "#{$mq}" does not exist';
  }
}

/*================ Responsive Show/Hide Helper ================*/
@mixin responsive-display-helper($grid-breakpoint-type: '') {

  // sass-lint:disable no-important
  .#{$grid-breakpoint-type}show {
    display: block !important;
  }

  .#{$grid-breakpoint-type}hide {
    display: none !important;
  }
}


/*================ Responsive Text Alignment Helper ================*/
@mixin responsive-text-align-helper($grid-breakpoint-type: '') {

  // sass-lint:disable no-important
  .#{$grid-breakpoint-type}text-left {
    text-align: left !important;
  }

  .#{$grid-breakpoint-type}text-right {
    text-align: right !important;
  }

  .#{$grid-breakpoint-type}text-center {
    text-align: center !important;
  }
}

@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  // sass-lint:disable no-misspelled-properties
  *zoom: 1;
}


/*============================================================================
    Grid Breakpoints and Class Names
        - Do not change the variable names
        - $grid-narrow is based on a Shopify breakpoint for checkout buttons
==============================================================================*/
$grid-narrow: 500px;
$grid-medium: 750px;
$grid-large: 990px;
$grid-ex-large:1200px;
$grid-widescreen: 1400px;
$grid-gutter: 30px;
$grid-gutter-mobile: 22px;

$narrow: 'narrow';
$not-narrow: 'not-narrow';
$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$ex-large: 'ex-large';
$ex-large-up: 'ex-large-up';
$ex-large-down: 'ex-large-down';
$widescreen: 'widescreen';

/*============================================================================
    Generate breakpoint-specific column widths and push classes
        - Default column widths: $grid-breakpoint-has-widths: ($small, $medium-up);
        - Default is no push classes
==============================================================================*/
$grid-breakpoint-has-widths: ($narrow, $not-narrow, $small, $medium-up, $medium, $medium-down, $large, $large-up, $large-down, $ex-large, $ex-large-up, $ex-large-down, $widescreen);
$grid-breakpoint-has-push: $grid-breakpoint-has-widths;



/*============================================================================
    #Grid
==============================================================================*/

// The `$grid-breakpoints` list is used to build our media queries.
// You can use these in the mq mixin.
$grid-breakpoints: ($narrow '(max-width: #{$grid-narrow})',
$not-narrow '(min-width: #{$grid-narrow + 1}) and (max-width: #{$grid-medium - 1})',
$small '(max-width: #{$grid-medium - 1})',
$medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
$medium-down '(max-width: #{$grid-large - 1})',
$medium-up '(min-width: #{$grid-medium})',
$large '(min-width: #{$grid-large}) and (max-width: #{$grid-ex-large - 1})',
$large-down '(max-width: #{$grid-ex-large - 1})',
$large-up '(min-width: #{$grid-large})',
$ex-large '(min-width: #{$grid-ex-large}) and (max-width: #{$grid-widescreen - 1})',
$ex-large-up '(min-width: #{$grid-ex-large})',
$ex-large-down '(max-width: #{$grid-widescreen - 1})',
$widescreen '(min-width: #{$grid-widescreen})'
);


/*============================================================================
    Grid Setup
        1. Allow the grid system to be used on lists.
        2. Remove any margins and paddings that might affect the grid system.
        3. Apply a negative `margin-left` to negate the columns' gutters.
==============================================================================*/

%grid-vars {
  --base-gutter: 30px;

  --base-gutter--double: calc(var(--base-gutter) * 2);
  --base-gutter--trip: calc(var(--base-gutter) * 3);
  --base-gutter--quad: calc(var(--base-gutter) * 4);

  --base-gutter--half: calc(var(--base-gutter) / 2);
  --base-gutter--quarter: calc(var(--base-gutter) / 4);

  --grid-gutter: var(--base-gutter);
  --grid-gutter--mobile: var(--base-gutter--half);
  --grid-gutter--neg: calc(var(--grid-gutter) * -1);
}

// Gives access to whole site
:root {
  @extend %grid-vars;
}


.grid {
  @extend %grid-vars;

  @include clearfix();
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: var(--grid-gutter--neg);
  font-size: 0;

  @include mq($small) {
    --grid-gutter: var(--grid-gutter--mobile);
  }

  &>.grid__item {
    padding-left: var(--grid-gutter);
    display: inline-block;
    font-size: 16px;

    &[class*="--push"] {
      position: relative;
    }
  }

}

.grid.no_gutter,
.grid_no_gutter {
  @extend %grid-vars;
  @include clearfix();
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;

  &>.grid__item {
    display: inline-block;
    font-size: 16px;
  }
}

.grid__item {

  width: 100%;
  // float: initial;
  display: inline-block;
  font-size: 16px;

  &[class*="--push"] {
    position: relative;
  }
}

.grid,
.grid_no_gutter {
  .grid__item {
    vertical-align: top;
  }

  &.vert-top {
    &>.grid__item {
      vertical-align: top;
    }
  }

  &.vert-mid,
  &.vert-middle {
    &>.grid__item {
      vertical-align: middle;
    }
  }

  &.vert-bot,
  &.vert-bottom {
    &>.grid__item {
      vertical-align: bottom;
    }
  }

  &.half_gutter {
    --grid-gutter: var(--base-gutter--half);
  }

  &.double_gutter {
    --grid-gutter: var(--base-gutter--double);
  }

  &.grid_margin_bottom,
  &.grid_bottom_margin {
    margin-bottom: var(--grid-gutter--neg);

    &>.grid__item {
      margin-bottom: var(--grid-gutter);
    }

    &.double_gutter_bottom {
      --grid-gutter--bottom: var(--base-gutter--double);
      --grid-gutter--bottom-neg: calc(var(--grid-gutter--bottom) * -1);
      margin-bottom: var(--grid-gutter--bottom-neg);

      &>.grid__item {
        margin-bottom: var(--grid-gutter--bottom);
      }

      @include mq($small) {
        --grid-gutter--bottom: var(--base-gutter);
      }
    }

  }
}

/*============================================================================
    Reversed grids allow you to structure your source in the opposite
    order to how your rendered layout will appear.
==============================================================================*/
.grid--rev {
  direction: rtl;
  text-align: left;

  >.grid__item {
    direction: ltr;
    text-align: left;
    float: right;
  }
}

.page-width {


  width: 100%;
  max-width: $grid-widescreen;
  margin: 0 auto;

  &.with-padding {
    @include mq($ex-large-down) {
      padding: 0 var(--base-gutter);
    }

    @include mq($small) {
      padding: 0 var(--base-gutter--half);
    }
  }
}


/*============================================================================
    Grid Columns
        - Create width classes, prepended by the breakpoint name.
==============================================================================*/
// sass-lint:disable brace-style empty-line-between-blocks
@mixin grid-column-generator($grid-breakpoint-type: '') {

  /* Whole */
  .#{$grid-breakpoint-type}one-whole {
    width: 100%;
  }

  /* Halves */
  .#{$grid-breakpoint-type}one-half {
    width: percentage(math.div(1, 2));
  }

  /* Thirds */
  .#{$grid-breakpoint-type}one-third {
    width: percentage(math.div(1, 3));
  }

  .#{$grid-breakpoint-type}two-thirds {
    width: percentage(math.div(2, 3));
  }

  /* Quarters */
  .#{$grid-breakpoint-type}one-quarter {
    width: percentage(math.div(1, 4));
  }

  .#{$grid-breakpoint-type}two-quarters {
    width: percentage(math.div(2, 4));
  }

  .#{$grid-breakpoint-type}three-quarters {
    width: percentage(math.div(3, 4));
  }

  /* Fifths */
  .#{$grid-breakpoint-type}one-fifth {
    width: percentage(math.div(1, 5));
  }

  .#{$grid-breakpoint-type}two-fifths {
    width: percentage(math.div(2, 5));
  }

  .#{$grid-breakpoint-type}three-fifths {
    width: percentage(math.div(3, 5));
  }

  .#{$grid-breakpoint-type}four-fifths {
    width: percentage(math.div(4, 5));
  }

  /* Sixths */
  .#{$grid-breakpoint-type}one-sixth {
    width: percentage(math.div(1, 6));
  }

  .#{$grid-breakpoint-type}two-sixths {
    width: percentage(math.div(2, 6));
  }

  .#{$grid-breakpoint-type}three-sixths {
    width: percentage(math.div(3, 6));
  }

  .#{$grid-breakpoint-type}four-sixths {
    width: percentage(math.div(4, 6));
  }

  .#{$grid-breakpoint-type}five-sixths {
    width: percentage(math.div(5, 6));
  }

  /* Sevenths */
  .#{$grid-breakpoint-type}one-seventh {
    width: percentage(math.div(1, 7));
  }

  .#{$grid-breakpoint-type}two-sevenths {
    width: percentage(math.div(2, 7));
  }

  .#{$grid-breakpoint-type}three-sevenths {
    width: percentage(math.div(3, 7));
  }

  .#{$grid-breakpoint-type}four-sevenths {
    width: percentage(math.div(4, 7));
  }

  .#{$grid-breakpoint-type}five-sevenths {
    width: percentage(math.div(5, 7));
  }

  .#{$grid-breakpoint-type}five-sevenths {
    width: percentage(math.div(6, 7));
  }

  /* Eighths */
  .#{$grid-breakpoint-type}one-eighth {
    width: percentage(math.div(1, 8));
  }

  .#{$grid-breakpoint-type}two-eighths {
    width: percentage(math.div(2, 8));
  }

  .#{$grid-breakpoint-type}three-eighths {
    width: percentage(math.div(3, 8));
  }

  .#{$grid-breakpoint-type}four-eighths {
    width: percentage(math.div(4, 8));
  }

  .#{$grid-breakpoint-type}five-eighths {
    width: percentage(math.div(5, 8));
  }

  .#{$grid-breakpoint-type}six-eighths {
    width: percentage(math.div(6, 8));
  }

  .#{$grid-breakpoint-type}seven-eighths {
    width: percentage(math.div(7, 8));
  }

  /* Ninths */
  .#{$grid-breakpoint-type}one-ninth {
    width: percentage(math.div(1, 9));
  }

  .#{$grid-breakpoint-type}two-ninths {
    width: percentage(math.div(2, 9));
  }

  .#{$grid-breakpoint-type}three-ninths {
    width: percentage(math.div(3, 9));
  }

  .#{$grid-breakpoint-type}four-ninths {
    width: percentage(math.div(4, 9));
  }

  .#{$grid-breakpoint-type}five-ninths {
    width: percentage(math.div(5, 9));
  }

  .#{$grid-breakpoint-type}six-ninths {
    width: percentage(math.div(6, 9));
  }

  .#{$grid-breakpoint-type}seven-ninths {
    width: percentage(math.div(7, 9));
  }

  .#{$grid-breakpoint-type}seven-ninths {
    width: percentage(math.div(8, 9));
  }

  /* Tenths */
  .#{$grid-breakpoint-type}one-tenth {
    width: percentage(math.div(1, 10));
  }

  .#{$grid-breakpoint-type}two-tenths {
    width: percentage(math.div(2, 10));
  }

  .#{$grid-breakpoint-type}three-tenths {
    width: percentage(math.div(3, 10));
  }

  .#{$grid-breakpoint-type}four-tenths {
    width: percentage(math.div(4, 10));
  }

  .#{$grid-breakpoint-type}five-tenths {
    width: percentage(math.div(5, 10));
  }

  .#{$grid-breakpoint-type}six-tenths {
    width: percentage(math.div(6, 10));
  }

  .#{$grid-breakpoint-type}seven-tenths {
    width: percentage(math.div(7, 10));
  }

  .#{$grid-breakpoint-type}eight-tenths {
    width: percentage(math.div(8, 10));
  }

  .#{$grid-breakpoint-type}nine-tenths {
    width: percentage(math.div(9, 10));
  }

  /* Elevenths */
  .#{$grid-breakpoint-type}one-eleventh {
    width: percentage(math.div(1, 11));
  }

  .#{$grid-breakpoint-type}two-elevenths {
    width: percentage(math.div(2, 11));
  }

  .#{$grid-breakpoint-type}three-elevenths {
    width: percentage(math.div(3, 11));
  }

  .#{$grid-breakpoint-type}four-elevenths {
    width: percentage(math.div(4, 11));
  }

  .#{$grid-breakpoint-type}five-elevenths {
    width: percentage(math.div(5, 11));
  }

  .#{$grid-breakpoint-type}six-elevenths {
    width: percentage(math.div(6, 11));
  }

  .#{$grid-breakpoint-type}seven-elevenths {
    width: percentage(math.div(7, 11));
  }

  .#{$grid-breakpoint-type}eight-elevenths {
    width: percentage(math.div(8, 11));
  }

  .#{$grid-breakpoint-type}nine-elevenths {
    width: percentage(math.div(9, 11));
  }

  .#{$grid-breakpoint-type}nine-elevenths {
    width: percentage(math.div(10, 11));
  }

  /* Twelfths */
  .#{$grid-breakpoint-type}one-twelfth {
    width: percentage(math.div(1, 12));
  }

  .#{$grid-breakpoint-type}two-twelfths {
    width: percentage(math.div(2, 12));
  }

  .#{$grid-breakpoint-type}three-twelfths {
    width: percentage(math.div(3, 12));
  }

  .#{$grid-breakpoint-type}four-twelfths {
    width: percentage(math.div(4, 12));
  }

  .#{$grid-breakpoint-type}five-twelfths {
    width: percentage(math.div(5, 12));
  }

  .#{$grid-breakpoint-type}six-twelfths {
    width: percentage(math.div(6, 12));
  }

  .#{$grid-breakpoint-type}seven-twelfths {
    width: percentage(math.div(7, 12));
  }

  .#{$grid-breakpoint-type}eight-twelfths {
    width: percentage(math.div(8, 12));
  }

  .#{$grid-breakpoint-type}nine-twelfths {
    width: percentage(math.div(9, 12));
  }

  .#{$grid-breakpoint-type}ten-twelfths {
    width: percentage(math.div(10, 12));
  }

  .#{$grid-breakpoint-type}eleven-twelfths {
    width: percentage(math.div(11, 12));
  }
}

/*================ Grid push classes ================*/
@mixin grid-push-generator($grid-breakpoint-type: '') {

  /* Halves */
  .#{$grid-breakpoint-type}push-one-half {
    left: percentage(math.div(1, 2));
  }

  /* Thirds */
  .#{$grid-breakpoint-type}push-one-third {
    left: percentage(math.div(1, 3));
  }

  .#{$grid-breakpoint-type}push-two-thirds {
    left: percentage(math.div(2, 3));
  }

  /* Quarters */
  .#{$grid-breakpoint-type}push-one-quarter {
    left: percentage(math.div(1, 4));
  }

  .#{$grid-breakpoint-type}push-two-quarters {
    left: percentage(math.div(2, 4));
  }

  .#{$grid-breakpoint-type}push-three-quarters {
    left: percentage(math.div(3, 4));
  }

  /* Fifths */
  .#{$grid-breakpoint-type}push-one-fifth {
    left: percentage(math.div(1, 5));
  }

  .#{$grid-breakpoint-type}push-two-fifths {
    left: percentage(math.div(2, 5));
  }

  .#{$grid-breakpoint-type}push-three-fifths {
    left: percentage(math.div(3, 5));
  }

  .#{$grid-breakpoint-type}push-four-fifths {
    left: percentage(math.div(4, 5));
  }

  /* Sixths */
  .#{$grid-breakpoint-type}push-one-sixth {
    left: percentage(math.div(1, 6));
  }

  .#{$grid-breakpoint-type}push-two-sixths {
    left: percentage(math.div(2, 6));
  }

  .#{$grid-breakpoint-type}push-three-sixths {
    left: percentage(math.div(3, 6));
  }

  .#{$grid-breakpoint-type}push-four-sixths {
    left: percentage(math.div(4, 6));
  }

  .#{$grid-breakpoint-type}push-five-sixths {
    left: percentage(math.div(5, 6));
  }

  /* Eighths */
  .#{$grid-breakpoint-type}push-one-eighth {
    left: percentage(math.div(1, 8));
  }

  .#{$grid-breakpoint-type}push-two-eighths {
    left: percentage(math.div(2, 8));
  }

  .#{$grid-breakpoint-type}push-three-eighths {
    left: percentage(math.div(3, 8));
  }

  .#{$grid-breakpoint-type}push-four-eighths {
    left: percentage(math.div(4, 8));
  }

  .#{$grid-breakpoint-type}push-five-eighths {
    left: percentage(math.div(5, 8));
  }

  .#{$grid-breakpoint-type}push-six-eighths {
    left: percentage(math.div(6, 8));
  }

  .#{$grid-breakpoint-type}push-seven-eighths {
    left: percentage(math.div(7, 8));
  }

  /* Tenths */
  .#{$grid-breakpoint-type}push-one-tenth {
    left: percentage(math.div(1, 10));
  }

  .#{$grid-breakpoint-type}push-two-tenths {
    left: percentage(math.div(2, 10));
  }

  .#{$grid-breakpoint-type}push-three-tenths {
    left: percentage(math.div(3, 10));
  }

  .#{$grid-breakpoint-type}push-four-tenths {
    left: percentage(math.div(4, 10));
  }

  .#{$grid-breakpoint-type}push-five-tenths {
    left: percentage(math.div(5, 10));
  }

  .#{$grid-breakpoint-type}push-six-tenths {
    left: percentage(math.div(6, 10));
  }

  .#{$grid-breakpoint-type}push-seven-tenths {
    left: percentage(math.div(7, 10));
  }

  .#{$grid-breakpoint-type}push-eight-tenths {
    left: percentage(math.div(8, 10));
  }

  .#{$grid-breakpoint-type}push-nine-tenths {
    left: percentage(math.div(9, 10));
  }

  /* Twelfths */
  .#{$grid-breakpoint-type}push-one-twelfth {
    left: percentage(math.div(1, 12));
  }

  .#{$grid-breakpoint-type}push-two-twelfths {
    left: percentage(math.div(2, 12));
  }

  .#{$grid-breakpoint-type}push-three-twelfths {
    left: percentage(math.div(3, 12));
  }

  .#{$grid-breakpoint-type}push-four-twelfths {
    left: percentage(math.div(4, 12));
  }

  .#{$grid-breakpoint-type}push-five-twelfths {
    left: percentage(math.div(5, 12));
  }

  .#{$grid-breakpoint-type}push-six-twelfths {
    left: percentage(math.div(6, 12));
  }

  .#{$grid-breakpoint-type}push-seven-twelfths {
    left: percentage(math.div(7, 12));
  }

  .#{$grid-breakpoint-type}push-eight-twelfths {
    left: percentage(math.div(8, 12));
  }

  .#{$grid-breakpoint-type}push-nine-twelfths {
    left: percentage(math.div(9, 12));
  }

  .#{$grid-breakpoint-type}push-ten-twelfths {
    left: percentage(math.div(10, 12));
  }

  .#{$grid-breakpoint-type}push-eleven-twelfths {
    left: percentage(math.div(11, 12));
  }
}

/*================ Clearfix helper on uniform grids ================*/
@mixin grid-uniform-clearfix($grid-breakpoint-type: '') {
  .grid--uniform {

    .#{$grid-breakpoint-type}one-half:nth-child(2n+1),
    .#{$grid-breakpoint-type}one-third:nth-child(3n+1),
    .#{$grid-breakpoint-type}one-quarter:nth-child(4n+1),
    .#{$grid-breakpoint-type}one-fifth:nth-child(5n+1),
    .#{$grid-breakpoint-type}one-sixth:nth-child(6n+1),
    .#{$grid-breakpoint-type}two-sixths:nth-child(3n+1),
    .#{$grid-breakpoint-type}three-sixths:nth-child(2n+1),
    .#{$grid-breakpoint-type}one-eighth:nth-child(8n+1),
    .#{$grid-breakpoint-type}two-eighths:nth-child(4n+1),
    .#{$grid-breakpoint-type}four-eighths:nth-child(2n+1),
    .#{$grid-breakpoint-type}five-tenths:nth-child(2n+1),
    .#{$grid-breakpoint-type}one-twelfth:nth-child(12n+1),
    .#{$grid-breakpoint-type}two-twelfths:nth-child(6n+1),
    .#{$grid-breakpoint-type}three-twelfths:nth-child(4n+1),
    .#{$grid-breakpoint-type}four-twelfths:nth-child(3n+1),
    .#{$grid-breakpoint-type}six-twelfths:nth-child(2n+1) {
      clear: both;
    }
  }
}

// sass-lint:enable brace-style empty-line-between-blocks

/*================ Build Base Grid Classes ================*/
@include grid-column-generator();
@include responsive-display-helper();
@include responsive-text-align-helper();

/*================ Build Responsive Grid Classes ================*/
@each $breakpoint in $grid-breakpoint-has-widths {
  @include mq($breakpoint) {
    @include grid-column-generator('#{$breakpoint}--');
    @include grid-uniform-clearfix('#{$breakpoint}--');
    @include responsive-display-helper('#{$breakpoint}--');
    @include responsive-text-align-helper('#{$breakpoint}--');
  }
}

/*================ Build Grid Push Classes ================*/
@each $breakpoint in $grid-breakpoint-has-push {
  @include mq($breakpoint) {
    @include grid-push-generator('#{$breakpoint}--');
  }
}




// Site Defaults

*,
*::after,
*::before {
  box-sizing: border-box
}


.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

body {
  background-color: var(--color--site-background);
  color: var(--color--site-text);

  font: {
    size: var(--font--base-size);
    family: var(--font--site-stack);
    weight: 400;
  }
}


// Headings
$headings--number: 6;
$headings--font-size: 16px;
$headings--scale: 7; // amount of px headings grow from h6 to h1

@for $i from 1 through $headings--number {

  h#{$i},
  .h#{$i} {
    margin: 0 0 var(--base-gutter--half);
    font-family: var(--font--header-stack);
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: $headings--font-size + $headings--scale * (6 - $i);

    a {
      color: inherit;
      text-decoration: none;
      font-weight: inherit;
    }

    .rte & {
      margin-bottom: var(--base-gutter);

      &:not(:first-child) {
        margin-top: var(--base-gutter--double);
      }
    }
  }
}

.rte {
  color: var(--color--site-text);
  margin-bottom: var(--base-gutter);

  p {
    margin: 0 0 var(--base-gutter--half);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.rte:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  opacity: 1;

  &:hover,
  &:active,
  &:visited {
    opacity: 0.7;
  }
}


.bg_image {
  background: {
    repeat: no-repeat !important;
    size: cover !important;
    position: center !important;
  };
}



.btn {
  padding: 15px 30px;
  background-color: var(--color--btn--bg);
  border: 2px solid var(--color--btn--bdr);
  color: var(--color--btn--txt);
  min-width: 250px;
  display: inline-block;
  transition:
    color var(--transition--button),
    border-color var(--transition--button),
    background-color var(--transition--button);

  font: {
    weight: 500;
    size: 20px;
  }

  text: {
    align: center;
    transform: uppercase;
  }

  &:hover,
  &:focus {
    background-color: var(--color--btn-hov--bg);
    border-color: var(--color--btn-hov--bdr);
    color: var(--color--btn-hov--txt);
  }
}


.video-inline {
  overflow: hidden;
  position: relative;

  .wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: none;
    }
  }
}

.match-row.grid,
.match-row.grid_no_gutter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: 50% 50%;

  --grid_margin: 15px;
  --grid_margin_neg: calc((var(--grid_margin)) * -1);

  >.grid__item {
    width: 100%;
    grid-column-end: span 1;

    >div {
      height: 100%;
    }
  }

  &.grid {
    margin-bottom: var(--grid_margin_neg);
    margin-left: var(--grid_margin_neg);

    >.grid__item {
      padding-left: var(--grid_margin);
      margin-bottom: var(--grid_margin);
    }
  }

  .product-grid-item {

    .product-form,
    .btn {
      margin-top: auto;
    }
  }

  @include mq($narrow) {
    >.grid__item {
      grid-column-end: span 2;
    }
  }


  @include mq($small) {
    >.collection-cta-item {
      grid-column-end: span 2;
    }
  }

  @include mq($medium-up) {
    grid-template-columns: repeat(60, 1fr); // 60 for columns bc it's evenly dividable by 2, 3, 4, and 5

    >.medium--one-half,
    >.medium-up--one-half {
      grid-column-end: span 30;
    }

    >.medium--one-third,
    >.medium-up--one-third {
      grid-column-end: span 20;
    }

    >.medium--two-thirds,
    >.medium-up--two-thirds {
      grid-column-end: span 40;
    }

    >.medium--one-quarter,
    >.medium-up--one-quarter {
      grid-column-end: span 15;
    }

    >.medium--one-fifth,
    >.medium-up--one-fifth {
      grid-column-end: span 12;
    }

    >.medium--two-fifths,
    >.medium-up--two-fifths {
      grid-column-end: span 24;
    }
  }

  @include mq($large-up) {

    >.large--one-half,
    >.large-up--one-half {
      grid-column-end: span 30;
    }

    >.large--one-third,
    >.large-up--one-third {
      grid-column-end: span 20;
    }

    >.large--two-thirds,
    >.large-up--two-thirds {
      grid-column-end: span 40;
    }

    >.large--one-quarter,
    >.large-up--one-quarter {
      grid-column-end: span 15;
    }

    >.large--one-fifth,
    >.large-up--one-fifth {
      grid-column-end: span 12;
    }

    >.large--two-fifths,
    >.large-up--two-fifths {
      grid-column-end: span 24;
    }
  }
}



// remove header clear
.page--homepage {
  .header-clear {
    display: none;
  }
}






// Sections

.site-header {
  padding: var(--base-gutter--half) 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background-color: rgba(var(--color--header-background), 0);
  border-bottom: 1px solid transparent;
  transition:
    border-color var(--transition--header),
    background-color var(--transition--header);

  &.is-scrolled,
  &:focus-within,
  &:hover {
    background-color: rgba(var(--color--header-background), 1);
    border-bottom-color: rgba(white, 0.25);
  }

  .page-width {
    max-width: 100%;
    padding: 0 var(--base-gutter--quarter);

    @include mq($medium-up) {
      padding: 0 var(--base-gutter--half);
    }
  }


  &--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }



  &--nav {
    --nav-trans--timing: .35s;
    --nav-trans--delay-amt: 0.4;
    --nav-trans--delay: calc(var(--nav-trans--timing) * var(--nav-trans--delay-amt));

    input[type="checkbox"] {
      display: none;
    }

    &__menu-btn {
      display: block;
      cursor: pointer;
      position: relative;
      height: 40px;
      width: 54px;
      appearance: none;
      padding: 0;
      margin: 0;
      z-index: 9;
      background-color: transparent;

      span:not(.visually-hidden) {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%) rotate(0deg);
        opacity: 1;
        background: white;
        width: 100%;
        height: 8px;
        transition: all var(--transition--header);

        &:nth-of-type(1) {
          top: 0;
          transform: translateY(0%) rotate(0deg);
        }

        &:nth-of-type(3) {
          top: 100%;
          transform: translateY(-100%) rotate(0deg);
        }
      }

      input:checked+&,
      &.menu-is-open {
        span:not(.visually-hidden) {
          top: 50%;

          transition: opacity var(--nav-trans--timing) ease-in-out,
            top var(--nav-trans--timing) ease-in-out,
            transform var(--nav-trans--timing) var(--nav-trans--delay) ease-in-out;

          &:nth-of-type(2) {
            opacity: 0;
          }

          &:nth-of-type(1) {
            transform: translateY(-50%) rotate(-45deg);
          }

          &:nth-of-type(3) {
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
    }

    &__drawer {
      --nav-trans--timing: .75s;
      --nav-trans--delay-amt: 0.4;
      position: absolute;
      top: 0;
      right: -100%;
      width: 100vw;
      max-width: 400px;
      min-height: 100vh;
      transition: right var(--nav-trans--timing) var(--nav-trans--delay) ease-in-out;
      padding: calc(var(--header-height, 50px) + var(--base-gutter)) var(--base-gutter) var(--base-gutter--double);
      background: rgba(var(--color--header-background), 0.95);
      box-shadow: 0px 3px 15px rgba(var(--color--header-background), 0.75);

      @include mq($small) {
        min-height: 100vh;
        max-width: 100vw;
      }

      input:checked+label+& {
        right: 0;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
          display: block;
          margin-left: -10px;
          padding: 10px;

          text: {
            align: right;
            transform: uppercase;
          };

          font: {
            family: var(--font--header-stack);
            weight: 400;
            size: 25px;
          };
          @include letter-spacing(75);
        }
      }
    }
  }










  @include mq($small) {
    padding: var(--base-gutter--quarter) 0;
  }
}



.site-footer {
  padding: var(--base-gutter) 0;
  background: var(--color--site-text);

  .page-width {
    max-width: 100%;
    padding: 0 var(--base-gutter--quarter);

    @include mq($medium-up) {
      padding: 0 var(--base-gutter--half);
    }
  }


  &--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


    * {
      color: var(--color--site-background);
    }

    >*:not(:last-child) {
      padding-right: var(--base-gutter--half);
    }

    .site-footer--copyright {
      small {
        display: block;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }

    .site-footer--social {
      margin-left: auto;

      a {
        display: inline-block;
        padding: 5px;

        svg {
          width: 100%;
          max-height: 30px;
        }
      }
    }

  }

  @include mq($small) {
    padding: var(--base-gutter--half) 0;

    &--container {
      flex-direction: column;

      >* {
        margin: 0 auto var(--base-gutter--half);
        padding-right: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}



.section--title {
  margin: 0 0 var(--base-gutter);

  >&:last-child {
    margin-bottom: 0;
  }

  >*:not(:last-child) {
    margin-bottom: var(--base-gutter);
  }


  // &.inline--link {
  @include mq($medium-up) {
    @extend .medium-up--text-left;
    // display: flex;
    // flex-direction: wrap;
    // justify-content: space-between;
    // align-items: center;
    // margin: 0;

    // h2 {
    //   margin: 0 0 var(--base-gutter--half);
    // }

    // .text-link {
    //   margin: 0 0 var(--base-gutter--half);
    //   display: block;
    // }

    >* {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: var(--base-gutter--half);
      }
    }


  }

  // }

  // &:not(.inline--link) {
  // @include mq($medium-up) {

  //   h2 {
  //     font-size: 35px;
  //   }

  // }
  // }
}

.section--ctas {
  position: relative;
  padding: var(--base-gutter--double) 0;
  z-index: 1;

  .bg_image.main-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }

  .bg_image+.page-width {
    * {
      color: white;
    }
  }

  .grid {
    @extend .double_gutter_bottom;

    @include mq($small) {}
  }




  .inner-container {
    // max-width: 400px;
    margin: 0 auto;

    .icon-image {
      margin: 0 auto;
      max-width: 150px;
    }

    >* {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: var(--base-gutter--quarter);
      }
    }

    .image-content__image-container:not(.icon-image)+* {
      margin-top: var(--base-gutter--half);
    }

    h3 {
      font-size: 20px;
    }

    .rte {
      font: {
        size: 15px;
      };
    }
  }

  .btn-container {
    margin-top: var(--base-gutter--double);
  }

  @include mq($small) {
    .inner-container {
      .feature-row__image-wrapper {
        max-width: 100px;
      }
    }


  }
}





.section--two-grid {
  --left-grid: 1 / 1 / 1 / 1;
  --right-grid: 1 / 2 / 1 / 2;
  padding: 0;


  h3 {
    // font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  h2 {
    // font-size: 32px;
    font-weight: 500;
    line-height: 1;
  }

  .rte * {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;

    p {
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .btn {
    margin-top: 1.5em;
  }

  .grid_no_gutter {
    .text-block {
      padding: 2em 1em;
      // padding: 2em 0;
    }
  }


  &.hide-images {
    .image-block {
      display: none;
    }

    .text-block {}
  }

  @include mq($medium-up) {

    &.hide-images {
      .text-block {
        min-height: clamp(500px, 50vw, 100vh);
      }

      // grid-auto-columns: 50% 50%;
      // display: grid;
      // align-items:center;

      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .grid_no_gutter {
        width: 50%;

        .grid__item {
          grid-area: inset !important;
          grid-column: 1 / 3 !important;
          width: 100% !important;
        }

        &:nth-of-type(odd) {
          .grid__item {
            justify-content: flex-end;
          }

          &:last-child {
            width: 100%;

            .grid__item {
              justify-content: center;
            }
          }
        }

        &:nth-of-type(even) {
          .grid__item {
            justify-content: flex-start;
          }
        }
      }
    }


    h2 {
      font-size: 65px;

    }

    .rte * {
      font-size: 24px;
    }



    .grid_no_gutter {
      grid-auto-columns: 50% 50%;
      display: grid;
      align-items: center;

      .grid__item {
        width: 100%;
      }



      .image-block {
        grid-area: var(--left-grid);
        position: relative;
        overflow: hidden;
        // padding-top:50%;
        height: 100%;
        padding-top: 80%;

        .video-ratio,
        .video-inline,
        .rimage-outer-wrapper,
        .rimage-wrapper,
        .image-content__image-container,
        .image-content__image-wrapper,
        .article__grid-image-container,
        .article__grid-image-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0 !important;
        }

        .video-ratio,
        .video-inline {
          .wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text-block {
        grid-area: var(--right-grid);
        padding: 4em 3em;
        display: flex;
        height: 100%;

        .text-content {
          max-width: calc(690px - 6em);
          align-self: center;
        }

        &.full-width {
          grid-area: 1 / span 2 / 1 / span 1;

          .text-content {
            max-width: 700px;
            margin: 0 auto;
          }
        }
      }

      &.reverse {
        .image-block {
          grid-area: var(--right-grid);
        }

        .text-block {
          justify-content: flex-end;
          grid-area: var(--left-grid);
        }
      }
    }
  }
}



.section--music-cta {
  position: relative;
  overflow: hidden;
  padding: var(--base-gutter--double) 0;
  z-index: 1;

  .grid__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(:nth-child(2)) {
      background: var(--color--el-salva);
    }
  }

  h3 {
    margin: 0 0 5px;
    color: var(--color--site-background);
    text-transform: uppercase;
  }

  .rte {

    &,
    * {
      text-transform: uppercase;
      color: var(--color--site-background);
    }
  }

  .row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: var(--base-gutter);

    &:not(.center-image) {
      width: min(100%, 350px);
      margin: 0 auto;
    }
  }

  .row-item {
    display: block;
    margin: 0 0 var(--base-gutter--half);

    &:last-child {
      margin-bottom: 0;
    }
  }


  @include mq($small) {
    .grid_no_gutter {
      --base-gutter: 15px;
      display: block;
      margin-bottom: var(--grid-gutter--neg);

      .grid__item {
        margin-bottom: var(--grid-gutter);
      }

      .row-container {
        padding: var(--base-gutter--trip) var(--base-gutter);

        &.center-image {
          padding: 0;
        }
      }
    }
  }

  @include mq($medium-up) {
    .section--title {
      margin-bottom: calc(var(--base-gutter--double) * -1);
    }

    .grid_no_gutter {
      grid-auto-rows: minmax(10px, 1fr);

      .grid__item:not(:nth-child(2)) {
        position: relative;
        grid-row: 2 / span 3;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 50vw;
          height: 100%;
          background: var(--color--el-salva);
          z-index: -1;
        }
      }

      .grid__item:nth-child(2) {
        grid-row: 1 / 6;
      }

      .grid__item:nth-child(3) {
        &:before {
          right: initial;
          left: 0;
        }
      }
    }
  }
}





.section--mosaic {
  position: relative;

  &,
  * {
    --grid-gutter: 20px;
    --grid-gutter--neg: calc(var(--grid-gutter) * -1);
  }

  .masonry-container {
    // padding: var(--grid-gutter);
    padding: 0;
  }

  .grid_no_gutter {
    margin: 0 0 var(--grid-gutter--neg) var(--grid-gutter--neg);

    .grid__item {
      margin: 0;
      padding: 0 0 var(--grid-gutter) var(--grid-gutter);

      // .image-content__image-container {
      //   position: relative;
      //   height: 100%;
      // }
      .image-content__image-container,
      .image-content__image-wrapper,
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        z-index: -1;
      }

      &,
      & .inner-content {
        position: relative;
        // overflow: hidden;
        z-index: 1;
      }
    }


  }



  .open-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--color-rgb--el-salva), 0.85);
    z-index: 999;
    opacity: 0;
    transition: all var(--transition--button);

    &:hover {
      opacity: 1;
    }

    .icon {
      position: absolute;
      width: 65px;
      height: 65px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  .inner-content {
    display: flex;
    width: 100%;
    align-items: center;

    img {
      transform: scale(1) rotate(0deg);
      transition: all .3s ease-in-out;
    }

    &:not(div):hover {
      img {
        transform: scale(1.3) rotate(2deg);
      }

      .text-content * {
        color: #99c4e9;
      }
    }
  }

  .grid__item:nth-of-type(even) {
    a.inner-content:hover {
      img {
        transform: scale(1.2) rotate(-2deg);
      }
    }
  }

  .text-content {
    padding: 0.7em 1em 0.65em;
    padding: 1.1em 1.5em 0.95em;
    text-align: center;
    margin: 0.5em auto 3em;
    border-radius: 4px;

    * {
      color: #292929;
      transition: all .3s ease-in-out;
    }

    h2,
    .rte,
    .btn {
      margin-top: 0;
      margin-bottom: 0;
    }

    .rte {
      font-size: 14px;
    }

    h2 {
      line-height: 1.1;
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      // text-transform: uppercase;
    }

    h2+.btn,
    .rte+.btn,
    h2+.rte {
      margin-top: 0.5em;
    }


  }

  // @include mq($medium-up) {
  .inner-content {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.align-vert-top {
      align-items: flex-start;
    }

    &.align-vert-bottom {
      align-items: flex-end;
    }

    &.align-hor-left {
      justify-content: flex-start;

      .text-content {
        text-align: left;
      }
    }

    &.align-hor-right {
      justify-content: flex-end;

      .text-content {
        text-align: right;
      }
    }

    &.full-width {
      .text-content {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }

    .text-content {
      // margin: 1em;
      background: white;
    }
  }

  .basic-modal {
    .image-content__image-container {
      max-height: calc(100vh - var(--base-gutter--quad));
      height: 100%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }



  // }
  @include mq($medium-up) {
    .grid__item:not(.one-whole) {
      width: 50%;
    }

    .grid_no_gutter {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(min(128px, 10vw), 1fr);
      grid-gap: 0;

      .grid__item {
        width: 100%;
        grid-row-end: span 6;
        min-height: 100%;

        .inner-content {
          min-height: 100%;
          height: 100%;
        }

        &.stack {
          grid-row-end: span 3;
        }
      }

      .one-twelfth {
        grid-column-end: span 1;
      }

      .two-twelfths {
        grid-column-end: span 2;
      }

      .three-twelfths {
        grid-column-end: span 3;
      }

      .four-twelfths {
        grid-column-end: span 4;
      }

      .five-twelfths {
        grid-column-end: span 5;
      }

      .six-twelfths {
        grid-column-end: span 6;
      }

      .seven-twelfths {
        grid-column-end: span 7;
      }

      .eight-twelfths {
        grid-column-end: span 8;
      }

      .nine-twelfths {
        grid-column-end: span 9;
      }

      .ten-twelfths {
        grid-column-end: span 10;
      }

      .eleven-twelfths {
        grid-column-end: span 11;
      }

      .one-whole {
        grid-column-end: span 12;
      }
    }
  }

  @include mq($ex-large-down) {
    .page-width {
      padding: 0 var(--grid-gutter);
    }
  }
}


body.modal-active {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  top: 0;
}

.basic-modal {
  position: fixed;
  top: 0 !important;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: all .15s linear;
  background-color: rgba(var(--color-rgb--black-forest), 0.85);
  background-color: rgba(white, 0.85);

  .video-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.6%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 5px 35px 5px rgba(var(--color-rgb--black-forest), 0.4);

    }
  }

  &--outer-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: calc(100vw - var(--base-gutter--quad));
    max-height: calc(100vh - var(--base-gutter--quad));
    opacity: 0;
    transition: all .3s linear;
    // padding: var(--base-gutter--double);
    // background: rgba(var(--color-rgb--black-forest), 0.4);
    z-index: 999;
    height: 100%;
    // overflow-y: auto;

    .active & {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  &--inner-container {
    height: 100%;
    overflow-y: auto;

    img {
      // width: 100%;
    }
  }

  .close-modal--bg {
    position: absolute;
    top: 0 !important;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
  }

  .close-modal {
    position: absolute;
    top: calc(var(--base-gutter) * -1);
    right: calc(var(--base-gutter) * -1);
    width: var(--base-gutter);
    height: var(--base-gutter);
    cursor: pointer;
    color: var(--color--el-salva);
    color: transparent;
    font-size: 0;
    z-index: 50;
    // filter: drop-shadow(1px 1px rgba(white,0.5));


    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 95%;
      height: 6px;
      top: 50%;
      left: 50%;
      background: white;
      background: var(--color--el-salva);
      --close--x: -45deg;
      transform: translate(-50%, -50%) rotate(var(--close--x));
    }

    &:after {
      --close--x: 45deg;
    }
  }

  &.active {
    pointer-events: initial;
    opacity: 1;
    transform: translateY(0px);
  }

  @include mq($medium-down) {
    .close-modal {
      right: -5px;
    }
  }
}

.section--video {
  position: relative;
  overflow: hidden;
  padding: var(--base-gutter--double) 0;
  z-index: 1;


}



.player {

  --audio-player--parent-height: 20em;
  --audio-player--duration: 1s;
  --audio-player--duration-text-wrap: 12s 1.5s cubic-bezier(0.82, 0.82, 1, 1.01);
  --audio-player--cubic-header: var(--audio-player--duration) cubic-bezier(0.71, 0.21, 0.3, 0.95);
  --audio-player--cubic-slider: var(--audio-player--duration) cubic-bezier(0.4, 0, 0.2, 1);
  --audio-player--cubic-play-list: .35s var(--audio-player--duration) cubic-bezier(0, 0.85, 0.11, 1.64);
  --audio-player--cubic-slider-context: cubic-bezier(1, -0.01, 1, 1.01);


  width: 17.15em;
  display: flex;
  overflow: hidden;
  font-size: 1.22em;
  border-radius: 1.35em;
  flex-direction: column;
  background-color: white;
  height: var(--audio-player--parent-height);

  * {
    box-sizing: inherit;
    scrollbar-width: none;

    &::before {
      box-sizing: inherit;
      scrollbar-width: none;
    }

    &::after {
      box-sizing: inherit;
      scrollbar-width: none;
    }
  }

  .img {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    z-index: 1;
    gap: 0 .4em;
    width: 100%;
    display: flex;
    height: 5.85em;
    flex-shrink: 0;
    position: relative;
    align-items: flex-start;
    border-radius: inherit;
    justify-content: flex-end;
    background-color: white;
    padding: .95em 0.6em 0 1.2em;
    box-shadow: 0 2px 6px 1px #0000001f;
    transition: height var(--audio-player--cubic-header), box-shadow var(--audio-player--duration), padding var(--audio-player--duration) ease-in-out;
  }

  &__header.open-header {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    box-shadow: unset;
  }

  &__img {
    width: 3.22em;
    height: 3.22em;
    border-radius: 1.32em;
  }

  &__img--absolute {
    top: 1.4em;
    left: 1.2em;
    position: absolute;
  }

  &__button {
    all: unset;
    z-index: 100;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
  }

  &__button--absolute--nw {
    top: 5.5%;
    left: 5.5%;
    position: absolute;
  }

  &__button--absolute--center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
  }

  &__controls {
    width: 77%;
    gap: .5em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    will-change: contents;
    align-content: center;
    justify-content: center;
    transition: transform var(--audio-player--cubic-header), width var(--audio-player--cubic-header);
  }

  &__controls.move {
    width: 88%;
    transform: translate3d(-1.1em, calc(var(--audio-player--parent-height) - 153%), 0);

    .slider {
      .slider__context {
        width: 49.48%;
      }
    }

    .progress {
      width: 98%;
    }
  }

  &__context {
    margin: 0;
    width: 100%;
    display: flex;
    line-height: 1.8;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
  }

  &__title {
    font-size: .7em;
    font-weight: bold;
    color: #00000086;
  }

  &__playlist {
    height: 100%;
    overflow: auto;
    padding: 1.05em .9em 0 1.2em;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__song {
    display: flex;
    cursor: pointer;
    margin-bottom: .5em;
    padding-bottom: .7em;
    border-bottom: .1em solid #d8d8d859;

    & {
      &__context {
        line-height: 1.5;
        margin-left: .65em;
      }
    }
  }

  &__song-name {
    font-size: .88em;
  }

  &__song-time {
    font-size: .65em;
    font-weight: bold;
    color: #00000079;
    height: fit-content;
    align-self: flex-end;
  }

  .slider {
    flex-shrink: 0;
    overflow: hidden;
    transition: width var(--audio-player--cubic-header), height var(--audio-player--cubic-header), top var(--audio-player--cubic-header), left var(--audio-player--cubic-header);

    &__content {
      display: flex;
      height: 100%;
      will-change: transform;
      transition: transform var(--audio-player--cubic-slider);
    }

    &__img {
      filter: brightness(75%);
    }

    &__name {
      overflow: hidden;
      white-space: nowrap;
    }

    &__title {
      overflow: hidden;
      white-space: nowrap;
    }

    &__context {
      width: 56.28%;
      cursor: pointer;
      text-align: center;
      padding-bottom: .2em;
      will-change: contents;
      transition: width var(--audio-player--cubic-header);
      animation: calc(var(--audio-player--duration) / 2) var(--audio-player--cubic-slider-context);
    }

    &.open-slider {
      top: 0;
      left: 0;
      width: 100%;
      height: 14.6em;

      .playlist {
        transform: scale(1);
        transition: transform var(--audio-player--cubic-play-list);
      }
    }
  }

  .text-wrap {
    display: block;
    white-space: pre;
    width: fit-content;
    animation: text-wrap var(--audio-player--duration-text-wrap) infinite;
  }

  .playlist {
    transform: scale(0);
    transition: transform calc(var(--audio-player--duration) / 2);
  }

  img[alt="pause-icon"] {
    display: none;
  }

  .progress {
    width: 90%;
    height: .25em;
    cursor: pointer;
    border-radius: 1em;
    touch-action: none;
    background-color: #e5e7ea;
    transition: width var(--audio-player--cubic-header);

    .progress__filled {
      width: 0%;
      height: 100%;
      display: flex;
      position: relative;
      align-items: center;
      border-radius: inherit;
      background-color: #78adfe;

      &::before {
        right: 0;
        width: .35em;
        content: " ";
        height: .35em;
        border-radius: 50%;
        position: absolute;
        background-color: #5781bd;
      }
    }
  }

  .audio {
    display: none !important;
  }
}

@keyframes "text-wrap" {
  75% {
    transform: translate3d(-51.5%, 0, 0);
  }

  100% {
    transform: translate3d(-51.5%, 0, 0);
  }
}

@keyframes "opacity" {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }
}