<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="page--{{page.title|slugify}}">

    
    {% assign formattedCount = 0 %}
    {% for section in page.page_sections %}
      
      {% include {{ section.block }}.html %}

      {% comment %}{% assign formattedJson = false %}
      {% if section.block == 'audio-player' %}
      {% if section.block != 'header' %}
        {% assign formattedCount = formattedCount | plus: 1 %}
        {% assign formattedJson = true %}
      {% endif %}
      {% endif %}
    
      {% if formattedJson == true %}
        <div style="padding: var(--base-gutter--double) var(--base-gutter);">        
          <h1>{{section.block | split: '-' | join | capitalize }} - raw output:</h1>
          <div class="raw-json hide">{{section|jsonify}}</div>
          <pre style="max-height: 300px;overflow-x: auto;font-size: 12px;">
            <code></code>
          </pre>
        </div>
      {% endif %}{% endcomment %}

    {% endfor %}
    
    {% comment %}{% if formattedCount > 0 %}
      <script type="text/javascript">
        $('.raw-json').each(function () {
          ths = $(this);
          thsTxt = ths.text();
          cde = ths.next('pre').find('code')
          cde.html( 
            JSON.stringify(JSON.parse(thsTxt),null,4)
          );
        })
      </script>
    {% endif %}{% endcomment %}

  </body>
</html>