<!DOCTYPE html>
<html lang="">

  {% include head.html %}

  <body class="page--{{page.title|slugify}}">

    
    {% assign count = 0 %}
    {% for section in page.page_sections %}
      
      {% include block-{{ section.block }}.html %}

      {% assign formattedJson = false %}
      {% if section.block == 'hero-image' %}
        {% assign count = count | plus: 1 %}
        {% assign formattedJson = true %}
      {% endif %}
    
      {% if formattedJson == true %}
        <div class="raw-json hide">{{section|jsonify}}</div>
        <pre style="max-height: 300px;overflow-x: auto;font-size: 12px;">
          <code></code>
        </pre>
      {% endif %}

    {% endfor %}
    
    {% if count > 0 %}
      <script type="text/javascript">
        $('.raw-json').each(function () {
          ths = $(this);
          thsTxt = ths.text();
          cde = ths.next('pre').find('code')
          cde.html( 
            JSON.stringify(JSON.parse(thsTxt),null,4)
          );
        })
      </script>
    {% endif %}

  </body>
</html>